[Unit]
Description=Crowd Detection System
After=network.target

[Service]
Type=simple
User=orange
WorkingDirectory=/home/orange/crowd
ExecStart=/home/orange/crowd/env/bin/python3 rknn_crowd.py config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
