[Unit]
Description=Cleaners Detection System
After=network.target

[Service]
Type=simple
User=orange
WorkingDirectory=/home/orange/cleaners
ExecStart=/home/orange/cleaners/env/bin/python3 cleaners.py config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
